<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="Default" value="Привет от программы!"/>
        <add key="Version" value=""/>
        <add key="Description" value="Программа выводит приветствие и запоминает введнные вами данные"/>
        <add key="User" value=""/>
    </appSettings>
</configuration>