# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.lesson7rebuild.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\tsayn\Desktop\All\IT\repos\home-works\HomeWorks\lesson7\lesson7rebuild\.idea\.idea.lesson7rebuild\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
