# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.lesson4.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\tsayn\Desktop\Все\IT\repos\home-works\HomeWorks\lesson4\.idea\.idea.lesson4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
